/* stylelint-disable indentation */
* {
  margin: 0;
  padding: 0;
}

.img-logo {
  width: 20px;
  height: 20px;
}

.list-group-item {
  display: flex;
  justify-content: flex-start;
  padding-top: 2vh;
  flex: 1 1;
  min-width: 50%;
  border: 0;
}

/* .list-group-item:nth-child(even) {
  background-color: #cf4278;
}

.list-group-item:nth-child(odd) {
  background-color: #fd5294;
} */

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.card-body-m {
  min-width: 155px;
  min-height: 200px;
}
